body{
margin:0;
min-height:100vh;
font-family: Arial, sans-serif;

background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);

display:flex;
justify-content:center;
align-items:center;
}

.container {
    background: rgba(255,255,255,0.92);
    padding: 30px;
    border-radius: 12px;
    width: 400px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

h1{
    text-align:center;
    font-size:36px;
    font-family: "Playfair Display", serif;
}

#saldo{
    font-size:28px;
    color:#2f6ae0;
    font-weight:bold;
}

button{
    background:#2f6ae0;
    color:white;
    border:none;
    padding:10px 20px;
    margin:5px;
    border-radius:6px;
    cursor:pointer;
}

input{
width:100%;
padding:8px;
margin-top:10px;
margin-bottom:15px;
border-radius:6px;
border:1px solid #ccc;
}

button:hover{
    background:#1e4fb3;
}

#historial li{
margin-bottom:6px;
color:#333;
font-size:14px;
}